// https://bootswatch.com/help/
@import 'bootswatch/dist/united/variables';

// https://getbootstrap.com/docs/5.3/layout/breakpoints/
$grid-breakpoints: (
    xs: 0,
    sm: 340px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@import 'bootstrap/scss/bootstrap';
@import 'bootswatch/dist/united/bootswatch';

//.btn-warning {
//    --bs-btn-bg: #d39e00;
//    --bs-btn-border-color: #c69500;
//
//    --bs-btn-hover-bg: #e0a800;
//    --bs-btn-hover-border-color: #d39e00;
//
//    --bs-btn-color: #fff;
//    --bs-btn-hover-color: #fff;
//    --bs-btn-active-color: #fff;
//}

.text-ellipsis {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.transparent-table {
    --bs-table-bg: rgba(var(--bs-emphasis-bg-rgb), 0.3);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-bg-rgb), 0.5);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-bg-rgb), 0.6);
}

//.fade-enter-active,
//.fade-leave-active {
//    transition:
//        opacity 0.3s ease,
//        transform 0.3s ease;
//}
//
//.fade-enter-from,
//.fade-leave-to {
//    opacity: 0;
//    transform: translateY(-6px);
//}
